<div style="margin-top:60px;">
<footer style="margin:-30px; background-color:#DCE9F7;">
  <div class="container" style="text-align:center;">
    <div style="margin-bottom:10px;">
      <a style="margin:10px; background-color:#627AAC;color:white;padding: 10px;font-size: 8px;text-align: center;border-radius: 50%;" type="button"><i style="font-size: 10px;" class="fa fa-facebook"></i></a>
      <a style="margin:10px; background-color:#76BCF1;color:white;padding: 10px;font-size: 8px;text-align: center;border-radius: 50%;" type="button"><i style="font-size: 10px;" class="fa fa-twitter"></i></a>
      <a style="margin:10px; background-color:#41779F;color:white;padding: 10px;font-size: 8px;text-align: center;border-radius: 50%;" type="button"><i style="font-size: 10px;" class="fa fa-instagram"></i></a>
      <a style="margin:10px; background-color:#C83232;color:white;padding: 10px;font-size: 8px;text-align: center;border-radius: 50%;" type="button"><i style="font-size: 10px;" class="fa fa-youtube"></i></a>
    </div>
    <a class="logo-font" routerLink="/">BizzChat</a>
    <span class="attribution" style="color:black;">
      &copy; {{ today | date: 'yyyy' }}.
      Add Your Business and Chat about anything as you get exposure for your Bizz <!--<a href="#">Chatzz</a>-->.
      <!--Code licensed under MIT.-->
      Developed with love by: Gish.
    </span>
  </div>
</footer>
</div>

<!--href="https://thinkster.io"
#DCE9F7-nice
#4C5053-best grey

-->
