<div class="home-page">

  <div class="banner" *showAuthed="false" style="background-color:#B95300; padding-top:100px;margin:-15px;">
    <div class="container">
      <h1 class="logo-font">BizzChat</h1>
      <p>Chat as your business grow!! on <i>BizzChat</i> Compare prices across businesses.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row" style="margin:-30px; margin-top:25px;">

      <div class="col-md-3" style="padding-top:0px;margin-top:20px;">
        <div class="sidebar" style="height:'';">
            <!--<p><i>Car Info</i></p>-->
            <p style="padding-top:0px;"><button style="margin-left:0px;width:100%;" type="button" class="btn btn-success" (click)="openTags(tagz)"><i style="font-weight:bold;">Show Tags</i></button></p>
            
             <!--////////////////No users found.////////////////////////-->


                         <ng-template #tagz>
                            <div class="modal-header">
                              <h4 class="modal-title pull-left">Search By Tags!!</h4>
                              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              
                              <!--/////////////////-->
                                  <div class="tag-list">
                                      <a href="carhome#"
                                        (click)="modalRef.hide()"
                                        *ngFor="let tag of tags"
                                        (click)="setCarListTo('all', {tag: tag})"
                                        class="tag-default tag-pill">
                                        {{ tag }}
                                      </a>
                                    </div>

                                    <div [hidden]="tagsLoaded">
                                      Loading tags...
                                    </div>

                                    <div [hidden]="!tagsLoaded || tags.length">
                                      No tags are here... yet.
                                  </div>
                              <!--/////////////////-->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
                            </div>
                         </ng-template>

                    <!--////////////////////////////////////////////////////////-->

        </div>
      </div>

      <div class="col-md-6" style="padding-top:0px;margin-top:20px;">
        <div class="carfeed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link"
                 [ngClass]="{'active': carListConfig.type === 'carfeed'}"
                 (click)="setCarListTo('carfeed')">
                 <span style="font-weight:bolder;color:black;">Following Cars</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 [ngClass]="{'active': carListConfig.type === 'all' && !carListConfig.filters.tag}"
                 (click)="setCarListTo('all')">
                 <span style="font-weight:bolder;color:black;">Global Carfeed</span>
              </a>
            </li>
            <li class="nav-item" [hidden]="!carListConfig.filters.tag">
              <a class="nav-link active">
                <i class="ion-pound"></i> <span style="font-weight:bolder;color:chartreuse;">{{ carListConfig.filters.tag }}</span>
              </a>
            </li>

            
            <!--<li class="nav-item">
              <a class="nav-link"
              [routerLink]="['/shouthome']">
              <span style="font-weight:bolder;color:deeppink;">Shout-Outs</span>
              </a>
            </li>-->


            <li class="nav-item">
                    <a class="nav-link"
                    [routerLink]="['/bizhome']">
                    <i style="color:black;" class="fa fa-shopping-bag" aria-hidden="true"></i><span style="font-weight:bolder;color:black;">Tour Bizz World</span>
                    </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"
                  [routerLink]="['/shouthome']">
                    <i style="color:black;" class="fa fa-heartbeat" aria-hidden="true"></i><span style="font-weight:bolder;color:deeppink;">Shout-Outs</span>
                  </a>
              </li>

              <!--<li class="nav-item">
                  <a class="nav-link"
                  [routerLink]="['/carhome']">
                    <i style="color:black;" class="fa fa-car" aria-hidden="true"></i><span style="font-weight:bolder;color:orangered;">Find Cars</span>
                  </a>
              </li>-->

              <li class="nav-item">
                  <a class="nav-link"
                  [routerLink]="['/apathome']">
                    <i style="color:black;" class="fa fa-building" aria-hidden="true"></i><span style="font-weight:bolder;color:dodgerblue;">Find Apartments/Rentals</span>
                  </a>
              </li>

              <li class="nav-item">
                  <a class="nav-link"
                  [routerLink]="['/landhome']">
                    <i style="color:black;" class="fa fa-map" aria-hidden="true"></i><span style="font-weight:bolder;color:maroon;">Find Land</span>
                  </a>
              </li>

            <li class="nav-item">
              <a class="nav-link"
              [routerLink]="['']">
              <i style="color:black;" class="fa fa-home" aria-hidden="true"></i><span style="font-weight:bolder;color:blue;">Home</span>
              </a>
          </li>
            
          </ul>
        </div>

        <cararticle-list [limit]="50" [config]="carListConfig"></cararticle-list>
        
      </div>

      <div class="col-md-3" style="padding-top:0px;margin-top:20px;">
        <div class="sidebar">
            <p><i>Popular Cars</i></p>

          <div class="tag-list">
            <a href="carhome#"
               *ngFor="let tag of tags"
               (click)="setCarListTo('all', {tag: tag})"
               class="tag-default tag-pill">
               {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">
            Loading tags...
          </div>

          <div [hidden]="!tagsLoaded || tags.length">
            No tags are here... yet.
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
